
.doctor-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.doctor-register-card {
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    background-color: rgba(111, 76, 176, 0.33);
    margin: 25px;
    padding: 1px 1px;
    position: relative;
}


.doctor-register-title {
    color: #4a148c;
    position: absolute;
    top: -32px;
    left: 15px;
    font-size: 24px;
}


.doctor-register-label {
    color: #3E2F9C;
    font-size: 16px;
}

.doctor-register-input {
    background-color: rgba(111, 76, 176, 0.00);
    border: 1px solid #4a148c;
    border-radius: 8px;
    color: white;
    font-size: 12px;
}


.doctor-register-select option {
    background-color: rgba(111, 76, 176, 0.33);
}


.doctor-register-button {
    background-color: #4a148c;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 35%;
    color: white;
    border: none;
    cursor: pointer;
}

.doctor-register-button:hover {
    opacity: 0.9;
}