
body {
    height: 100vh; /* Altura completa de la ventana */
    overflow-y: auto; /* Habilita el scroll vertical */
}
.profile-body{
    background-color: rgba(205, 199, 237, 0.25);
    
}
.prof-pinci-title{
    font-family: "Alata", serif;
    color: #3E2F9C;
    font-size: 34px;
    margin-top: 20px;
}
.profile-container{
    padding: 15px;
    padding-bottom: 30px;
    
}
.content-data-profile{
    width: 80%;
    background-color: rgba(111, 76, 176, 0.45);
    height: 350px;
    border-radius: 21px;
    padding: 30px 19px 25px 19px;
    display: flex;
    margin-right: auto;
}
.container-info-profile{
    font-family: "Gantari", serif;
    margin-right: auto;
}

.require-data-title{
    font-size: 17px;
    color: #3E2F9C;
    margin-bottom: 0px;
}
.require-data-info{
    font-size: 16px;
    color: #ffff;
    margin-bottom: 6px;
}
.prof-edit-icon{
    font-size: 21px;
    color: #ffff;
    cursor: pointer;
}
.dot-states{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.dot-states .btn-light{
    background-color: transparent;
    border: transparent;
}
.dot-states .btn-light:hover{
    background-color: transparent;
    border: transparent;
}

.dot-states img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.tool-status{
    --bs-tooltip-bg: rgba(255, 255, 255, 0.7);
    --bs-tooltip-color: #3E2F9C;
    --bs-font-sans-serif: "Gantari";
}


.choose-speci-box{
    width: 495px;
    height: 200px;
    background-color: rgba(111, 76, 176, 0.25);
    border-radius: 57px;
    margin-right: 20px;
    padding: 10px 0 0 25px; 
}

.select-speciality{
    font-size: 28px;
    color: #3E2F9C;
    margin-top: auto;
    margin-bottom: auto;
}

.esp-pic{
    width: 200px;
    height: 190px;
    background-size: cover;
}

.comming-s-box{
    background-color: rgba(111, 76, 176, 0.25);
    width: 246px;
    height: 200px;
    border-radius: 57px;
    padding: 29px 33px 29px 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comming-text{
    font-size: 26px;
    font-family: "Alata", serif;
    color: rgba(111, 76, 176, 0.64);
}
.prof-list-container{
    background-color: rgba(111, 76, 176, 0.25);
    width: 100%;
    height: 100%;
    border-radius: 57px;
    padding: 27px 16px 27px 16px;
    display: flex;
    flex-direction: column;
}
.prof-sec-title{
    font-family: "Alata", serif;
    color: #3E2F9C;
    font-size: 19px;
    align-self: center;
    margin-bottom: 14px;
}
.prof-list-container > ul{
    padding-left: 0;
}
.content-appoint-data{
    background-color: rgba(111, 76, 176, 0.25);
    width: 100%;
    height: 100%;
    border-radius: 57px;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.data-text-appoint{
    background-color: rgba(111, 76, 176, 0.25);
    width: 100%;
    height: 100%;
    border-radius: 57px;
}
.name-appoint{
    font-family: "Gantari", serif;
    font-size: 13px;
    font-weight: 500;
    color: #ffff;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 9px;
}

.date-appoint{
    font-family: "Gantari", serif;
    font-size: 11px;
    color: #ffff;
    margin-left: 20px;
    margin-bottom: 10px;
}

.img-status{
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
}

/* Doctor-profile css */
.doctor-profile .esp-pic {
    height: 207px;
    width: 190px;
    margin-top: 4px;
}
.doctor-profile .choose-speci-box {
    padding: 10px 15px 0 15px;
}
/* Responsive */ 

@media (width <= 915px) {
    .content-data-profile{
        width: 100%;
    }
    .dot-states{
        display: none;
    }
    .content-medical-options{
        display: flex;
        flex-direction: column;
    }
    .choose-speci-box{
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0px;

    }
    .comming-s-box{
        width: 100%;
    }
    .comming-text{
        text-align: center;
    }
}
 
